.main-content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  color:#242424;
}
.Toastify__toast--success {
  background-color: #00b894; /* Custom green */
  color: white;
}